<?xml version="1.0"?>
<!--

  Copyright (c) 2021 PAL Robotics S.L. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find pmb2_description)/urdf/base/base.urdf.xacro"/>

  <xacro:include filename="$(find pmb2_description)/urdf/sensors/hokuyo_urg_04lx_ug01_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim551_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim561_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/sick_tim571_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/ydlidar_tg30_laser.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/ydlidar_tg15_laser.urdf.xacro"/>

  <xacro:include filename="$(find pmb2_description)/urdf/sensors/range.urdf.xacro"/>
  <xacro:include filename="$(find pmb2_description)/urdf/sensors/microphone.urdf.xacro"/>

  <!-- Laser characteristics -->
  <xacro:property name="base_laser_x" value="0.202"/>
  <xacro:property name="base_laser_y" value="0.0"/>
  <xacro:property name="base_laser_z" value="-0.004"/>

  <!-- laser_model can be: false, hokuyo, sick-551, sick-561, sick-571-->
  <xacro:macro name="base_sensors" params=" name laser_model:=sick-571 sonars:=false microphone:=false ">

    <xacro:if value="${laser_model == 'ydlidar-tg15' or laser_model == 'ydlidar-tg30'}">
      <xacro:property name="base_laser_x" value="0.2095"/>
      <xacro:property name="base_laser_y" value="0.0"/>
      <xacro:property name="base_laser_z" value="0.00890"/>
    </xacro:if>

    <xacro:unless value="${laser_model == 'ydlidar-tg15' or laser_model == 'ydlidar-tg30'}">
        <xacro:property name="base_laser_x" value="0.202"/>
        <xacro:property name="base_laser_y" value="0.0"/>
        <xacro:property name="base_laser_z" value="-0.004"/>
    </xacro:unless>

    <xacro:if value="${laser_model == 'hokuyo'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:hokuyo_urg_04lx_ug01_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:hokuyo_urg_04lx_ug01_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-551'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim551_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim551_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-561'}">


      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim561_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim561_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'sick-571'}">

      <!-- Laser -->
      <!-- Theoretic FOV = 220 -->
      <xacro:sick_tim571_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-110 * deg_to_rad}" max_angle="${110 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 0" />
      </xacro:sick_tim571_laser>

    </xacro:if>

    <xacro:if value="${laser_model == 'ydlidar-tg30'}">
      <!-- Laser -->
      <!-- Theoretic FOV = 360 -->
      <xacro:ydlidar_tg30_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-65* deg_to_rad}" max_angle="${125 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 ${ -30 * deg_to_rad }" />
      </xacro:ydlidar_tg30_laser>
    </xacro:if>

    <xacro:if value="${laser_model == 'ydlidar-tg15'}">
      <!-- Laser -->
      <!-- Theoretic FOV = 360 -->
      <xacro:ydlidar_tg15_laser name="${name}_laser" parent="${name}" ros_topic="scan_raw" update_rate="10" min_angle="${-65 * deg_to_rad}" max_angle="${125 * deg_to_rad}" >
        <origin xyz="${base_laser_x} ${base_laser_y} ${base_laser_z}" rpy="0 0 ${ -30 * deg_to_rad }" />
      </xacro:ydlidar_tg15_laser>
    </xacro:if>

    <xacro:if value="${sonars}">


      <!-- Sonars -->
      <xacro:range_sensor name="${name}_sonar_01" parent="${name}" ros_topic="sonar01_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(0*deg_to_rad)} ${0.260*sin(0*deg_to_rad)}  0.173" rpy="0 -0.2 ${0*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_02" parent="${name}" ros_topic="sonar02_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(30*deg_to_rad)} ${0.260*sin(30*deg_to_rad)}  0.173" rpy="0 -0.2 ${30*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_03" parent="${name}" ros_topic="sonar03_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(60*deg_to_rad)} ${0.260*sin(60*deg_to_rad)}  0.173" rpy="0 -0.2 ${60*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_04" parent="${name}" ros_topic="sonar04_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(90*deg_to_rad)} ${0.260*sin(90*deg_to_rad)}  0.173" rpy="0 -0.2 ${90*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_05" parent="${name}" ros_topic="sonar05_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(120*deg_to_rad)} ${0.260*sin(120*deg_to_rad)}  0.173" rpy="0 -0.2 ${120*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_06" parent="${name}" ros_topic="sonar06_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(150*deg_to_rad)} ${0.260*sin(150*deg_to_rad)}  0.173" rpy="0 -0.2 ${150*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_07" parent="${name}" ros_topic="sonar07_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(180*deg_to_rad)} ${0.260*sin(180*deg_to_rad)}  0.173" rpy="0 -0.2 ${180*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_08" parent="${name}" ros_topic="sonar08_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(210*deg_to_rad)} ${0.260*sin(210*deg_to_rad)}  0.173" rpy="0 -0.2 ${210*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_09" parent="${name}" ros_topic="sonar09_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(240*deg_to_rad)} ${0.260*sin(240*deg_to_rad)}  0.173" rpy="0 -0.2 ${240*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_10" parent="${name}" ros_topic="sonar10_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(270*deg_to_rad)} ${0.260*sin(270*deg_to_rad)}  0.173" rpy="0 -0.2 ${270*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_11" parent="${name}" ros_topic="sonar11_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(300*deg_to_rad)} ${0.260*sin(300*deg_to_rad)}  0.173" rpy="0 -0.2 ${300*deg_to_rad}"/>
      </xacro:range_sensor>
      <xacro:range_sensor name="${name}_sonar_12" parent="${name}" ros_topic="sonar12_${name}" update_rate="2" maxRange="3.0" minRange="0.02" fov="0.5" radiation="ultrasound">
        <origin xyz="${0.260*cos(330*deg_to_rad)} ${0.260*sin(330*deg_to_rad)}  0.173" rpy="0 -0.2 ${330*deg_to_rad}"/>
      </xacro:range_sensor>

    </xacro:if>

    <xacro:if value="${microphone}">

      <!-- Microphones -->
      <xacro:microphone name="${name}_mic_front_left" parent="${name}">
        <origin xyz="0.23182 0.03902 0.195" rpy="0 0 0"/>
      </xacro:microphone>

      <xacro:microphone name="${name}_mic_front_right" parent="${name}">
        <origin xyz="0.23182 -0.03902 0.195" rpy="0 0 0"/>
      </xacro:microphone>

      <xacro:microphone name="${name}_mic_back_left" parent="${name}">
        <origin xyz="-0.1082 -0.0599 0.195" rpy="0 0 0"/>
      </xacro:microphone>

      <xacro:microphone name="${name}_mic_back_right" parent="${name}">
        <origin xyz="-0.1082 -0.13789 0.195" rpy="0 0 0"/>
      </xacro:microphone>

    </xacro:if>

    <xacro:base name="${name}"/>

  </xacro:macro>

</robot>
